/* Set default font and background colors */
body {
    font-family: Arial, sans-serif;
    background-color: #F7F7F7;
    color: #333;
  }
  
  /* Set maximum width and center the content */
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Style the title */
  .title {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    background: linear-gradient(to right, #007bff, #005cbf);
    color: #fff;
  }
  
  .search-display-sections {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  /* Style the search section */
  .search-section {
    float: left;
    width: 50%;
    padding-right: 20px;
    display: inline-block;
  }
  
  .search-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .search-bar {
    display: flex;
    margin-bottom: 10px;
  }
  
  .search-bar input {
    flex-grow: 1;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .search-bar button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .city-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .city-list li {
    margin-bottom: 5px;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .city-list li:hover {
    background-color: #eee;
  }
  
  /* Style the display section */
  .display-sections {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .display-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .city-info {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .forecast-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .forecast {
    border: 1px solid #ccc;
    padding: 10px;
  }